In [63]:
import pandas as pd
import os
import joblib

In [58]:
# events.csv

events = pd.read_csv(os.path.join("data", "events.csv"), index_col=0)
print(events.columns)

events.head()

Index(['user_id', 'session_id', 'timestamp', 'step', 'action_type',
       'reference', 'platform', 'city', 'device', 'current_filters',
       'impressions', 'prices', 'src', 'is_test', 'fake_impressions',
       'fake_prices', 'reversed_clickout_step', 'clickout_step',
       'clickout_max_step', 'dt', 'is_val', 'last_clickout_of_session'],
      dtype='object')

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,...,src,is_test,fake_impressions,fake_prices,reversed_clickout_step,clickout_step,clickout_max_step,dt,is_val,last_clickout_of_session
0,RE84XPQB447X,90fdaae2c58dc,1541030423,1,search for poi,Disneyland Paris,US,"Marne-la-Vallée, France",desktop,Best Value,...,train,0,8887828|8414618|1231946|7323680|5125642|415471...,98|119|105|98|145|120|156|145|180|125|168|138|...,2,1,2,2018-11-01,0,0
1,WDPJ442S0Q1Z,cf0c96d88d2ef,1541030432,1,search for destination,"Birmingham, United Kingdom",UK,"Birmingham, United Kingdom",mobile,NaN,...,train,0,449896|147730|12522|152022|12544|12531|12516|2...,117|127|117|101|125|70|124|95|115|73|127|123|1...,3,1,3,2018-11-01,0,0
2,PCYB9NJCV2IS,47ba72122b04c,1541030442,1,search for destination,"Lisbon, Portugal",US,"Lisbon, Portugal",mobile,NaN,...,train,0,NaN,NaN,1,1,1,2018-11-01,0,0
3,RE84XPQB447X,90fdaae2c58dc,1541030454,2,interaction item rating,149255,US,"Marne-la-Vallée, France",desktop,NaN,...,train,0,8887828|8414618|1231946|7323680|5125642|415471...,98|119|105|98|145|120|156|145|180|125|168|138|...,4,1,4,2018-11-01,0,0
4,ORQ6U0KAMD2Q,73aaba45abc79,1541030468,1,interaction item rating,69865,US,"Red Lodge, USA",desktop,NaN,...,train,0,69511|69865|3867636|8258580|2217944|824256|893...,55|89|61|70|84|141|106|212|75|123|92,5,1,5,2018-11-01,0,0

In [6]:
del events

In [14]:
# item_dense_features

item_dense = pd.read_csv(os.path.join("data","item_dense_features.csv"), index_col=0)

print(item_dense.columns)

item_dense[item_dense["item_id"] == 5001]

item_dense.set_index("item_id").sort_index()

Index(['item_index', 'item_id', 'free_wifi_(combined)',
       'swimming_pool_(combined_filter)', 'car_park', 'serviced_apartment',
       'air_conditioning', 'spa_(wellness_facility)', 'pet_friendly',
       'all_inclusive_(upon_inquiry)', 'rating', 'stars', 'hotel_category'],
      dtype='object')

,item_index,free_wifi_(combined),swimming_pool_(combined_filter),car_park,serviced_apartment,air_conditioning,spa_(wellness_facility),pet_friendly,all_inclusive_(upon_inquiry),rating,stars,hotel_category
item_id,,,,,,,,,,,,
5001,88792,1,1,0,0,0,1,1,0,NaN,4.0,hotel
5002,671349,1,0,1,0,1,1,1,0,2.0,4.0,hotel
5003,917797,1,1,1,0,1,1,1,0,3.0,4.0,hotel
5004,676037,1,1,1,0,0,1,0,0,4.0,4.0,hotel
5005,495746,0,0,1,0,0,0,0,0,4.0,3.0,hotel
...,...,...,...,...,...,...,...,...,...,...,...,...
11278878,685352,0,0,0,0,0,0,0,0,NaN,NaN,house
11279492,541610,0,0,0,0,0,0,0,0,NaN,NaN,house
11279686,671348,0,0,0,0,0,0,0,0,NaN,NaN,hotel
11279912,758984,0,0,0,0,0,0,0,0,NaN,NaN,house
11284432,690048,1,0,1,0,1,0,0,0,NaN,NaN,resort

In [77]:
sbr_map = joblib.load(os.path.join("data", "item_sort_by_rating_stats.joblib"))
sbr_map[5005]

0.0

In [9]:
del item_dense

In [13]:
# item_pois
item_pois = joblib.load(os.path.join("data", "item_pois.joblib"))

for i,j in list(sorted(item_pois.items()))[:10]:
    print(f"{i}: {j}")

5014: {'Freiburg Breisgau Central Station', 'Altstadt-Mitte'}
5015: {'Freiburg Breisgau Central Station', 'Altstadt-Mitte', 'Adler'}
5017: {'Freiburg Breisgau Central Station', 'Altstadt-Mitte'}
5020: {'Freiburg Breisgau Central Station', 'Altstadt-Mitte'}
5049: {'Old town of Heidelberg', 'Venice Simplon Orient Express', 'Brückentor'}
5050: {'Old town of Heidelberg', 'Venice Simplon Orient Express'}
5051: {'Brückentor'}
5052: {'Old town of Heidelberg', 'Venice Simplon Orient Express', 'Brückentor'}
5053: {'Old town of Heidelberg', 'Venice Simplon Orient Express'}
5054: {'Old town of Heidelberg', 'Venice Simplon Orient Express'}

In [9]:
# item_pois
item_to_poi = joblib.load(os.path.join("data", "item_to_poi_map.joblib"))

for i,j in list(sorted(item_to_poi.items()))[:10]:
    print(f"{i}: {j}")

5014: {'Freiburg Breisgau Central Station', 'Altstadt-Mitte'}
5015: {'Freiburg Breisgau Central Station', 'Adler', 'Altstadt-Mitte'}
5017: {'Freiburg Breisgau Central Station', 'Altstadt-Mitte'}
5020: {'Freiburg Breisgau Central Station', 'Altstadt-Mitte'}
5049: {'Brückentor', 'Venice Simplon Orient Express', 'Old town of Heidelberg'}
5050: {'Venice Simplon Orient Express', 'Old town of Heidelberg'}
5051: {'Brückentor'}
5052: {'Brückentor', 'Venice Simplon Orient Express', 'Old town of Heidelberg'}
5053: {'Venice Simplon Orient Express', 'Old town of Heidelberg'}
5054: {'Venice Simplon Orient Express', 'Old town of Heidelberg'}

In [65]:
item_prices = pd.read_csv(os.path.join("data", "item_prices.csv"), index_col=0)

item_prices.head()

,price,ascending_price_rank,descending_price_rank,ascending_price_rank_pct,min_price,max_price,price_count,price_relative_to_min,price_range,price_range_div
item_id,,,,,,,,,,
5001,82,1,4,0.25,82,105,15,1.000000,23,1.280488
5001,84,2,3,0.50,82,105,15,1.024390,23,1.280488
5001,94,3,2,0.75,82,105,15,1.146341,23,1.280488
5001,105,4,1,1.00,82,105,15,1.280488,23,1.280488
5002,72,1,4,0.25,72,105,15,1.000000,33,1.458333

In [1]:
from item_feature_extractor import ItemFeatures
from session_feature_extractor import SessionFeatures
from user_feature_extractor import UserFeatures
import merge_features
import pandas as pd

In [ ]:
sfe = SessionFeatures("data/events_sorted.csv", events_sorted=False)
sfe.extract_features()
sf = sfe.get_features()

In [ ]:
ufe = UserFeatures("data/events_sorted.csv", events_sorted=False)
ufe.extract_features()
uf = ufe.get_features()

In [ ]:
ufe.save_features()
sfe.save_features()

In [4]:
uf = pd.read_csv("data/user_features.csv", index_col=0)
sf = pd.read_csv("data/session_features.csv", index_col=0)
merged = merge_features.merge_session_and_user_features(session_features=sf, user_features=uf)

splitting cols ['price', 'item_id', 'cheapest', 'most_expensive', 'price_rel_to_imp_min', 'price_rel_to_imp_max', 'rank', 'price_rank', 'price_rank_among_above', 'price_vs_mean_price', 'previous_click_price_diff_session', 'top_of_impression', 'num_of_item_actions', 'price_rank_diff_last_interaction', 'last_interaction_relative_position', 'price_above', 'clickout_prob_time_position_offset', 'clicked', 'viewed_items_user', 'item_clicked_before', 'avg_price_similarity', 'interacted_items_user', 'last_price_diff_general', 'viewed_items_avg_price_div', 'viewed_items_avg_price_diff', 'interacted_items_avg_price_div', 'interacted_items_avg_price_diff']

45355it [00:24, 1844.37it/s]

records created.

In [5]:
from item_feature_extractor import ItemFeatures

ife = ItemFeatures("data/user_session_merged.csv", events_sorted=False)
ife.extract_features()

extracting item features.
not sorted, sorting...
sorted. 39.5115  seconds.

292284it [00:26, 11135.21it/s]

In [6]:
all_feats = ife.get_features()

In [7]:
all_feats.to_csv("data/all_features.csv")

In [1]:
import pandas as pd

all_feats = pd.read_csv("data/all_features.csv")

In [2]:
list(all_feats.columns)

['Unnamed: 0',
 'Unnamed: 1',
 'session_id',
 'timestamp',
 'platform',
 'device',
 'active_filters',
 'hour',
 'day_of_the_week',
 'price',
 'city',
 'item_id',
 'cheapest',
 'most_expensive',
 'impressions_max_price',
 'impressions_min_price',
 'impressions_price_range',
 'num_of_impressions',
 'price_rel_to_imp_min',
 'price_rel_to_imp_max',
 'rank',
 'price_rank',
 'price_rank_among_above',
 'session_start_ts',
 'price_vs_mean_price',
 'clickout_item_item_last_timestamp',
 'previous_click_price_diff_session',
 'top_of_impression',
 'num_of_item_actions',
 'price_rank_diff_last_interaction',
 'last_interaction_relative_position',
 'last_interaction_absolute_position',
 'actions_since_last_item_action',
 'time_since_last_item_action',
 'same_impression_in_session',
 'step',
 'last_action_type',
 'price_above',
 'clickout_prob_time_position_offset',
 'user_id',
 'user_start_ts',
 'sessions_of_user',
 'user_viewed_item',
 'item_clicked_before',
 'avg_price_similarity',
 'user_interacted_item',
 'viewed_items_avg_price',
 'last_price_diff_general',
 'interacted_items_avg_price',
 'viewed_items_avg_price_div',
 'viewed_items_avg_price_diff',
 'interacted_items_avg_price_div',
 'interacted_items_avg_price_diff',
 'interacted_and_viewed_items_price_diff',
 'clicked',
 'historical_mean_rank',
 'clickout_item_ctr',
 'clickout_counter_vs_interaction_counter_pure',
 'price_pct_by_platform',
 'price_pct_by_city',
 'sort_by_rating_stats',
 'sort_by_distance_stats',
 'sort_by_popularity_stats',
 'item_index',
 'free_wifi_(combined)',
 'swimming_pool_(combined_filter)',
 'car_park',
 'serviced_apartment',
 'air_conditioning',
 'spa_(wellness_facility)',
 'pet_friendly',
 'all_inclusive_(upon_inquiry)',
 'rating',
 'stars',
 'hotel_category']

In [26]:
def contains(x, feature):
    if type(x) is float:
        return 0
    if feature in x:
        return 1
    return 0
all_feats["active_filters"].dropna().apply(contains, args=("Best Value",))

7          0
11         0
18         0
27         1
29         0
          ..
1031377    0
1031378    0
1031382    1
1031384    1
1031385    0
Name: active_filters, Length: 223361, dtype: int64

In [51]:
all_feats[["step", "hotel_category"]]  = all_feats[["step", "hotel_category"]]

In [41]:
pd.get_dummies(all_feats["hotel_category"], prefix="last")

         last_hostal  last_hotel  last_house  last_motel  last_resort
0                  0           1           0           0            0
1                  0           1           0           0            0
2                  0           1           0           0            0
3                  0           1           0           0            0
4                  0           1           0           0            0
...              ...         ...         ...         ...          ...
1031384            0           0           1           0            0
1031385            0           0           1           0            0
1031386            0           0           1           0            0
1031387            0           0           1           0            0
1031388            0           1           0           0            0

[1031389 rows x 5 columns]

In [8]:
import numpy as np
def split_if_not_none(text):
    if type(text) is float:
        return None
    return text.split("|")
smt = all_feats["active_filters"].apply(split_if_not_none).dropna().to_numpy()
np.union1d(smt[0], smt[])

In [23]:
for i in _:
    print(i)

AttributeError: 'float' object has no attribute 'split'

In [67]:
import os
import joblib
from collections import defaultdict
import pandas as pd
from helpers import normalize_feature_name
from constants import ITEM_ACTIONS
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler


class DataPreprocessing:

    def __init__(self, features_file="data/all_features.csv"):

        self.features = pd.read_csv(features_file)
        self.table_cols = list(self.features.columns)

        self.minmax_scaler = MinMaxScaler()
        self.standart_scaler = StandardScaler()

        self.drop = [
            "session_id", "city", "item_id", "user_id", "item_index", "timestamp"
        ]

        self.one_hot = [
            "platform",
            "device",
            "day_of_the_week",
            "rating",
            "stars",
            "hotel_category",
        ]

        self.custom_one_hot = [
            "step",
            "last_action_type",
            "sessions_of_user",
        ]

        self.pivot = ["active_filters"]

        self.keep = [
            "hour",
            "cheapest",
            "most_expensive",
            "price_rel_to_imp_min",
            "price_rel_to_imp_max",
            "rank",
            "price_rank",
            "price_rank_among_above",
            "price_vs_mean_price",
            "top_of_impression",
            "clickout_prob_time_position_offset",
            "user_viewed_item",
            "item_clicked_before",
            "user_interacted_item",
            "viewed_items_avg_price_div",
            "interacted_items_avg_price_div",
            "clickout_item_ctr",
            "price_pct_by_platform",
            "price_pct_by_city",
            "sort_by_rating_stats",
            "sort_by_distance_stats",
            "sort_by_popularity_stats",
            "free_wifi_(combined)",
            "swimming_pool_(combined_filter)",
            "car_park",
            "serviced_apartment",
            "air_conditioning",
            "spa_(wellness_facility)",
            "pet_friendly",
            "all_inclusive_(upon_inquiry)",
        ]

        self.log_scale_minmax = ["time_since_last_item_action", "user_start_ts"]

        self.minmax = [
            "price",
            "impressions_max_price",
            "impressions_min_price",
            "impressions_price_range",
            "num_of_impressions",
            "session_start_ts",
            "clickout_item_item_last_timestamp",
            "num_of_item_actions",
            "last_interaction_absolute_position",
            "actions_since_last_item_action",
            "same_impression_in_session",
            "price_above",
            "viewed_items_avg_price",
            "interacted_items_avg_price",
            "interacted_and_viewed_items_price_diff",
            "historical_mean_rank",
            "clickout_counter_vs_interaction_counter_pure",
        ]

        self.normalize_on_zero = [
            "previous_click_price_diff_session",
            "price_rank_diff_last_interaction",
            "last_interaction_relative_position",
            "avg_price_similarity",
            "last_price_diff_general",
            "viewed_items_avg_price_diff",
            "interacted_items_avg_price_diff",
        ]

        self.target = ["clicked"]

        self.all_features = self.one_hot + self.drop + self.pivot + self.keep + self.log_scale_minmax + self.minmax +\
            self.normalize_on_zero + self.target + self.custom_one_hot

        for col in self.table_cols:
            if col not in self.all_features:
                self.drop.append(col)

    def apply_drop(self):
        self.features = self.features.drop(columns=self.drop)

    def apply_pivot(self):

        def split_if_not_none(text):
            if type(text) is float:
                return None
            return text.split("|")

        def contains(x, feature):
            if type(x) is float:
                return 0
            if feature in x:
                return 1
            return 0

        for piv in self.pivot:
            feats = set()

            items = self.features[piv].apply(split_if_not_none).dropna()
            indexes = items.index

            items_as_list = list(items)
            for item in items_as_list:
                for feat in item:
                    feats.add(normalize_feature_name(feat))

            feats = list(feats)
            self.features[feats] = 0

            for feat in feats:
                self.features.loc[indexes, feat] = self.features.loc[indexes, piv].apply(contains, args=(feat,))

            self.features = self.features.drop(columns=[piv])

    def apply_one_hot(self):
        for feat in self.one_hot:
            values = pd.get_dummies(self.features[feat], prefix=feat)
            self.features = pd.concat([self.features, values], axis=1)
            self.features.drop(columns=[feat], inplace=True)

    def apply_custom_one_hot(self):
        step_vals = self.features["step"]
        cols = {
            "1": step_vals == 1,
            "2": step_vals == 2,
            "3": step_vals == 3,
            "4": step_vals == 4,
            "5": step_vals == 5,
            "6_10": (step_vals >= 5) & (step_vals <= 10),
            "11_25": (step_vals >= 11) & (step_vals <= 25),
            "26_more": step_vals >= 25,
        }
        for name, value in cols.items():
            self.features["step_" + name] = value.astype(int)

        last_action_type = self.features["last_action_type"]
        cols = {
            "0": ~last_action_type.isin(ITEM_ACTIONS),
            "1": last_action_type.isin(ITEM_ACTIONS),
        }
        for name, value in cols.items():
            self.features["last_action_type_" + name] = value.astype(int)

        sessions_of_user = self.features["sessions_of_user"]
        cols = {
            "1": sessions_of_user == 1,
            "2": sessions_of_user == 2,
            "3_more": sessions_of_user >= 3,
        }

        for name, value in cols.items():
            self.features["sessions_of_user_" + name] = value.astype(int)

    def apply_minmax(self):
        for feat in self.log_scale_minmax:
            self.features[feat] = np.log(self.features[feat])
            if feat not in self.minmax:
                self.minmax.append(feat)

        self.minmax_scaler.fit(self.features[self.minmax])
        self.features[self.minmax] = self.minmax_scaler.transform(self.features[self.minmax])

        if "scalers" not in os.listdir():
            os.mkdir("scalers")

        joblib.dump(self.minmax_scaler, "scalers/minmax_scaler.joblib")

    def apply_normalize_on_zero(self):
        self.standart_scaler.fit(self.features[self.normalize_on_zero])
        self.features[self.normalize_on_zero] = self.standart_scaler.transform(self.features[self.normalize_on_zero])

        if "scalers" not in os.listdir():
            os.mkdir("scalers")

        joblib.dump(self.minmax_scaler, "scalers/standart_scaler.joblib")

    def run(self):
        self.apply_drop()
        self.apply_pivot()
        self.apply_one_hot()
        self.apply_custom_one_hot()
        self.apply_minmax()
        self.apply_normalize_on_zero()

In [68]:
dp = DataPreprocessing()

In [69]:
dp.run()

C:\Users\emekg\Desktop\python\recommender\RecSys2019\venv\lib\site-packages\pandas\core\arraylike.py:358: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

ValueError: Input contains infinity or a value too large for dtype('float64').

In [7]:
dp.features["sort_by_distance_stats"] != 0

NameError: name 'dp' is not defined

In [3]:
import pandas as pd

In [5]:
all_feats = pd.read_csv("data/all_features.csv")

In [6]:
list(all_feats.columns)

['Unnamed: 0',
 'Unnamed: 1',
 'session_id',
 'timestamp',
 'platform',
 'device',
 'active_filters',
 'hour',
 'day_of_the_week',
 'price',
 'city',
 'item_id',
 'cheapest',
 'most_expensive',
 'impressions_max_price',
 'impressions_min_price',
 'impressions_price_range',
 'num_of_impressions',
 'price_rel_to_imp_min',
 'price_rel_to_imp_max',
 'rank',
 'price_rank',
 'price_rank_among_above',
 'session_start_ts',
 'price_vs_mean_price',
 'clickout_item_item_last_timestamp',
 'previous_click_price_diff_session',
 'top_of_impression',
 'num_of_item_actions',
 'price_rank_diff_last_interaction',
 'last_interaction_relative_position',
 'last_interaction_absolute_position',
 'actions_since_last_item_action',
 'time_since_last_item_action',
 'same_impression_in_session',
 'step',
 'last_action_type',
 'price_above',
 'clickout_prob_time_position_offset',
 'user_id',
 'user_start_ts',
 'sessions_of_user',
 'user_viewed_item',
 'item_clicked_before',
 'avg_price_similarity',
 'user_interacted_item',
 'viewed_items_avg_price',
 'last_price_diff_general',
 'interacted_items_avg_price',
 'viewed_items_avg_price_div',
 'viewed_items_avg_price_diff',
 'interacted_items_avg_price_div',
 'interacted_items_avg_price_diff',
 'interacted_and_viewed_items_price_diff',
 'clicked',
 'historical_mean_rank',
 'clickout_item_ctr',
 'clickout_counter_vs_interaction_counter_pure',
 'price_pct_by_platform',
 'price_pct_by_city',
 'sort_by_rating_stats',
 'sort_by_distance_stats',
 'sort_by_popularity_stats',
 'item_index',
 'free_wifi_(combined)',
 'swimming_pool_(combined_filter)',
 'car_park',
 'serviced_apartment',
 'air_conditioning',
 'spa_(wellness_facility)',
 'pet_friendly',
 'all_inclusive_(upon_inquiry)',
 'rating',
 'stars',
 'hotel_category']

In [25]:
list(all_feats[[
            "price", "impressions_max_price", "impressions_min_price", "impressions_price_range", "num_of_impressions",
            "session_start_ts", "clickout_item_item_last_timestamp", "num_of_item_actions",
            "last_interaction_absolute_position", "actions_since_last_item_action", "same_impression_in_session",
            "price_above", "viewed_items_avg_price", "interacted_items_avg_price",
            "interacted_and_viewed_items_price_diff", "historical_mean_rank",
            "clickout_counter_vs_interaction_counter_pure",
        ]].max() - all_feats[[
            "price", "impressions_max_price", "impressions_min_price", "impressions_price_range", "num_of_impressions",
            "session_start_ts", "clickout_item_item_last_timestamp", "num_of_item_actions",
            "last_interaction_absolute_position", "actions_since_last_item_action", "same_impression_in_session",
            "price_above", "viewed_items_avg_price", "interacted_items_avg_price",
            "interacted_and_viewed_items_price_diff", "historical_mean_rank",
            "clickout_counter_vs_interaction_counter_pure",
        ]].min())

[9994.0,
 9992.0,
 2275.0,
 9961.0,
 24.0,
 108417.0,
 58278.0,
 172.0,
 24.0,
 2815.0,
 33.0,
 9994.0,
 8999.0,
 8999.0,
 2438.333333333333,
 24.0,
 33.0]

In [37]:
(all_feats[[
            "price", "impressions_max_price", "impressions_min_price", "impressions_price_range", "num_of_impressions",
            "session_start_ts", "clickout_item_item_last_timestamp", "num_of_item_actions",
            "last_interaction_absolute_position", "actions_since_last_item_action", "same_impression_in_session",
            "price_above", "viewed_items_avg_price", "interacted_items_avg_price",
            "interacted_and_viewed_items_price_diff", "historical_mean_rank",
            "clickout_counter_vs_interaction_counter_pure",
        ]] == all_feats[[
            "price", "impressions_max_price", "impressions_min_price", "impressions_price_range", "num_of_impressions",
            "session_start_ts", "clickout_item_item_last_timestamp", "num_of_item_actions",
            "last_interaction_absolute_position", "actions_since_last_item_action", "same_impression_in_session",
            "price_above", "viewed_items_avg_price", "interacted_items_avg_price",
            "interacted_and_viewed_items_price_diff", "historical_mean_rank",
            "clickout_counter_vs_interaction_counter_pure",
        ]].dropna()).all()

np.all(np.isfinite(all_feats[[
            "price", "impressions_max_price", "impressions_min_price", "impressions_price_range", "num_of_impressions",
            "session_start_ts", "clickout_item_item_last_timestamp", "num_of_item_actions",
            "last_interaction_absolute_position", "actions_since_last_item_action", "same_impression_in_session",
            "price_above", "viewed_items_avg_price", "interacted_items_avg_price",
            "interacted_and_viewed_items_price_diff", "historical_mean_rank",
            "clickout_counter_vs_interaction_counter_pure",
        ]]))

True

In [31]:
import numpy as np
(~all_feats.isin([np.nan, np.inf, -np.inf]).any(1)).astype(int).sum()

123874

In [38]:
all_feats.loc[all_feats["price"] < 6, "price"]

384525     5
387469     5
402276     5
403624     5
403625     5
          ..
1025608    5
1025841    5
1027387    5
1027388    5
1031253    5
Name: price, Length: 284, dtype: int64

In [52]:
norm_feat = pd.read_csv("data/normalized_features.csv", index_col=0)

C:\Users\emekg\Desktop\python\recommender\RecSys2019\venv\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [53]:
norm_feat.head()

,hour,price,cheapest,most_expensive,impressions_max_price,impressions_min_price,impressions_price_range,num_of_impressions,price_rel_to_imp_min,price_rel_to_imp_max,...,step_26_more,last_action_type_not_item_action,last_action_type_item_action,sessions_of_user_1,sessions_of_user_2,sessions_of_user_3_more,nour_0_5,nour_6_11,nour_12_18,nour_19_24
0,17.0,0.007905,0,0,0.033827,0.025934,0.028210,1.0,1.3125,0.2435,...,0,1,0,1,0,0,0,0,1,0
1,22.0,0.007705,0,0,0.016213,0.019780,0.011947,1.0,1.6400,0.4852,...,0,0,1,1,0,0,0,0,0,1
2,13.0,0.007705,0,0,0.020817,0.023736,0.015661,1.0,1.3898,0.3814,...,0,0,1,1,0,0,0,0,1,0
3,14.0,0.007905,0,0,0.022818,0.028571,0.016565,1.0,1.2000,0.3574,...,0,1,0,1,0,0,0,0,1,0
4,13.0,0.008905,0,0,0.015312,0.024615,0.009939,1.0,1.5410,0.5875,...,0,0,1,1,0,0,0,0,1,0

In [54]:
dict(norm_feat.iloc[0])

{'hour': 17.0,
 'price': 0.0079047428457074,
 'cheapest': 0,
 'most_expensive': 0,
 'impressions_max_price': 0.0338270616493194,
 'impressions_min_price': 0.0259340659340659,
 'impressions_price_range': 0.0282100190743901,
 'num_of_impressions': 1.0,
 'price_rel_to_imp_min': 1.3125,
 'price_rel_to_imp_max': 0.2435,
 'rank': 5,
 'price_rank': 4,
 'price_rank_among_above': 2,
 'session_start_ts': 0.0324580093527767,
 'price_vs_mean_price': 0.577,
 'clickout_item_item_last_timestamp': 0.0,
 'previous_click_price_diff_session': -0.0347319698339753,
 'top_of_impression': 0,
 'num_of_item_actions': 0.0,
 'price_rank_diff_last_interaction': -0.1153076574066901,
 'last_interaction_relative_position': -0.4481776982019022,
 'last_interaction_absolute_position': 0.0,
 'actions_since_last_item_action': 0.0046181172291296,
 'time_since_last_item_action': 0.0,
 'same_impression_in_session': 0.0,
 'step': 14,
 'last_action_type': 'search for destination',
 'price_above': 0.0096057634580748,
 'clickout_prob_time_position_offset': 0.0022,
 'user_start_ts': 0.6428571428571428,
 'sessions_of_user': 1,
 'user_viewed_item': 0,
 'item_clicked_before': 0,
 'avg_price_similarity': -0.0489366950558935,
 'user_interacted_item': 0,
 'viewed_items_avg_price': 0.0,
 'last_price_diff_general': -0.0356979654947724,
 'interacted_items_avg_price': 0.0096576397377486,
 'viewed_items_avg_price_div': 0.0,
 'viewed_items_avg_price_diff': -0.0489366950558935,
 'interacted_items_avg_price_div': 0.9665,
 'interacted_items_avg_price_diff': -0.0398914019302384,
 'interacted_and_viewed_items_price_diff': 0.0,
 'clicked': 0,
 'historical_mean_rank': 0.3819444444444443,
 'clickout_item_ctr': 0.0,
 'clickout_counter_vs_interaction_counter_pure': 0.0,
 'price_pct_by_platform': 0.3304460318353113,
 'price_pct_by_city': 0.1748251748251748,
 'sort_by_rating_stats': 0.0,
 'sort_by_distance_stats': 0.0,
 'sort_by_popularity_stats': 0.0,
 'free_wifi_(combined)': 0,
 'swimming_pool_(combined_filter)': 0,
 'car_park': 0,
 'serviced_apartment': 0,
 'air_conditioning': 0,
 'spa_(wellness_facility)': 0,
 'pet_friendly': 0,
 'all_inclusive_(upon_inquiry)': 0,
 'safe_(hotel)': 0,
 'kitchen': 0,
 'very_good_rating': 0,
 'cot': 0,
 'accessible_parking': 0,
 'resort': 0,
 'house_/_apartment': 0,
 '5_star': 0,
 'balcony': 0,
 'bungalows': 0,
 'room_service_(24/7)': 0,
 'casino_(hotel)': 0,
 'express_check-in_/_check-out': 0,
 'swimming_pool_(indoor)': 0,
 'gay-friendly': 0,
 'convenience_store': 0,
 'accessible_hotel': 0,
 'tennis_court': 0,
 'reception_(24/7)': 0,
 'hostel': 0,
 'flatscreen_tv': 0,
 'playground': 0,
 'on-site_boutique_shopping': 0,
 'cheap': 0,
 'best_value': 0,
 'kosher_food': 0,
 'health_retreat': 0,
 'central_heating': 0,
 'bathtub': 0,
 'top_deals': 0,
 'hotel': 0,
 'nightclub': 0,
 'golf_course': 0,
 'from_2_stars': 0,
 'camping_site': 0,
 'sort_by_rating': 0,
 'romantic': 0,
 '1_star': 0,
 'fridge': 0,
 'water_slide': 0,
 'satisfactory_rating': 0,
 'excellent_rating': 0,
 'deals_+_beach_(mx)': 0,
 'hostal_(es)': 0,
 'sauna': 0,
 'restaurant': 0,
 'sun_umbrellas': 0,
 'singles': 0,
 'guest_house': 0,
 'telephone': 0,
 'hypoallergenic_bedding': 0,
 'pousada_(br)': 0,
 'direct_beach_access': 0,
 'country_hotel': 0,
 'shower': 0,
 'microwave': 0,
 'good_rating': 0,
 'fitness': 0,
 'honeymoon': 0,
 'hairdryer': 0,
 'deck_chairs': 0,
 'luxury_hotel': 0,
 'washing_machine': 0,
 'airport_hotel': 0,
 '2_nights': 0,
 'sort_by_distance': 0,
 'senior_travellers': 0,
 'beach_bar': 0,
 'satellite_tv': 0,
 'swimming_pool_(outdoor)': 0,
 'breakfast_included': 0,
 '3_star': 0,
 'sort_by_popularity': 0,
 'diving': 0,
 "kids'_club": 0,
 'boutique_hotel': 0,
 'convention_hotel': 0,
 'airport_shuttle': 0,
 'halal_food': 0,
 'hammam': 0,
 'sort_by_price': 0,
 'openable_windows': 0,
 'beach': 0,
 'adults_only': 0,
 'best_rates': 0,
 'free_wifi_(public_areas)': 0,
 '2_star': 0,
 'theater_breaks_(uk/ie)': 0,
 'ski_resort': 0,
 'bed_&_breakfast': 0,
 '4_star': 0,
 'motel': 0,
 'wheelchair_accessible': 0,
 'disneyland_paris': 0,
 'hotel_bar': 0,
 'business_hotel': 0,
 'teleprinter': 0,
 'minigolf': 0,
 'childcare': 0,
 'steam_room': 0,
 'surfing': 0,
 'spa_hotel': 0,
 'lift': 0,
 'television': 0,
 'focus_on_rating': 0,
 'room_service': 0,
 'terrace_(hotel)': 0,
 'holiday': 0,
 'unknown': 0,
 'onsen': 0,
 'non-smoking_rooms': 0,
 'gym': 0,
 'casa_rural_(es)': 0,
 'family_friendly': 0,
 'free_wifi_(rooms)': 0,
 'skiing': 0,
 'jacuzzi_(hotel)': 0,
 'focus_on_distance': 0,
 'platform_AA': 0,
 'platform_AE': 0,
 'platform_AR': 0,
 'platform_AT': 0,
 'platform_AU': 0,
 'platform_BE': 0,
 'platform_BG': 0,
 'platform_BR': 0,
 'platform_CA': 0,
 'platform_CH': 0,
 'platform_CL': 0,
 'platform_CN': 0,
 'platform_CO': 0,
 'platform_CZ': 0,
 'platform_DE': 1,
 'platform_DK': 0,
 'platform_EC': 0,
 'platform_ES': 0,
 'platform_FI': 0,
 'platform_FR': 0,
 'platform_GR': 0,
 'platform_HK': 0,
 'platform_HR': 0,
 'platform_HU': 0,
 'platform_ID': 0,
 'platform_IE': 0,
 'platform_IL': 0,
 'platform_IN': 0,
 'platform_IT': 0,
 'platform_JP': 0,
 'platform_KR': 0,
 'platform_MX': 0,
 'platform_MY': 0,
 'platform_NL': 0,
 'platform_NO': 0,
 'platform_NZ': 0,
 'platform_PE': 0,
 'platform_PH': 0,
 'platform_PL': 0,
 'platform_PT': 0,
 'platform_RO': 0,
 'platform_RS': 0,
 'platform_RU': 0,
 'platform_SE': 0,
 'platform_SG': 0,
 'platform_SI': 0,
 'platform_SK': 0,
 'platform_TH': 0,
 'platform_TR': 0,
 'platform_TW': 0,
 'platform_UK': 0,
 'platform_US': 0,
 'platform_UY': 0,
 'platform_VN': 0,
 'platform_ZA': 0,
 'device_desktop': 0,
 'device_mobile': 0,
 'device_tablet': 1,
 'day_of_the_week_0.0': 0,
 'day_of_the_week_1.0': 0,
 'day_of_the_week_3.0': 0,
 'day_of_the_week_4.0': 1,
 'day_of_the_week_5.0': 0,
 'day_of_the_week_6.0': 0,
 'rating_1.0': 0,
 'rating_2.0': 0,
 'rating_3.0': 0,
 'rating_4.0': 0,
 'stars_1.0': 0,
 'stars_2.0': 0,
 'stars_3.0': 0,
 'stars_4.0': 1,
 'stars_5.0': 0,
 'hotel_category_hostal': 0,
 'hotel_category_hotel': 1,
 'hotel_category_house': 0,
 'hotel_category_motel': 0,
 'hotel_category_resort': 0,
 'step_1': 0,
 'step_2': 0,
 'step_3': 0,
 'step_4': 0,
 'step_5': 0,
 'step_6_10': 0,
 'step_11_25': 1,
 'step_26_more': 0,
 'last_action_type_not_item_action': 1,
 'last_action_type_item_action': 0,
 'sessions_of_user_1': 1,
 'sessions_of_user_2': 0,
 'sessions_of_user_3_more': 0,
 'nour_0_5': 0,
 'nour_6_11': 0,
 'nour_12_18': 1,
 'nour_19_24': 0}

In [51]:
norm_feat[norm_feat["clicked"] == 1]

,hour,price,cheapest,most_expensive,impressions_max_price,impressions_min_price,impressions_price_range,num_of_impressions,price_rel_to_imp_min,price_rel_to_imp_max,...,step_4,step_5,step_6_10,step_11_25,step_26_more,last_action_type0,last_action_type1,sessions_of_user_1,sessions_of_user_2,sessions_of_user_3_more
18,17.0,0.013408,0,0,0.018114,0.022418,0.013252,1.000000,2.4821,0.7394,...,0,0,0,0,1,0,1,1,0,0
29,15.0,0.006904,0,0,0.015713,0.021978,0.010943,1.000000,1.3455,0.4512,...,0,0,0,0,0,1,0,1,0,0
91,11.0,0.009806,0,0,0.011509,0.032967,0.004216,0.541667,1.2875,0.8443,...,0,0,0,0,1,0,1,1,0,0
100,10.0,0.013408,0,0,0.228783,0.022418,0.224576,1.000000,2.4821,0.0606,...,0,0,0,0,1,0,1,1,0,0
105,18.0,0.016510,0,0,0.047738,0.022418,0.042968,1.000000,3.0357,0.3512,...,0,0,0,0,1,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031221,3.0,0.000700,0,0,0.002702,0.002637,0.002309,1.000000,1.0909,0.3529,...,0,0,0,1,0,1,0,1,0,0
1031250,1.0,0.002902,0,0,0.021117,0.012308,0.018572,0.250000,1.0303,0.1560,...,0,0,0,0,0,0,1,1,0,0
1031273,3.0,0.005203,0,0,0.006805,0.012308,0.004216,0.958333,1.7273,0.7600,...,0,0,1,0,0,1,0,1,0,0
1031311,6.0,0.003602,1,0,0.046037,0.015824,0.042767,0.375000,1.0000,0.0878,...,0,0,0,0,0,1,0,1,0,0
1031358,0.0,0.000800,1,0,0.013311,0.003516,0.012750,1.000000,1.0000,0.0929,...,0,0,1,0,0,1,0,1,0,0

In [ ]:
norm_feat = norm_feat[:]